<link rel="icon" type="image/png" href="{{ '/images/favicons/favicon-96x96.png' | relative_url }}" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="{{ '/images/favicons/favicon.svg' | relative_url }}">
<link rel="shortcut icon" href="{{ '/images/favicons/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicons/apple-touch-icon.png' | relative_url }}">
<link rel="manifest" href="{{ '/images/favicons/site.webmanifest' | relative_url }}">

<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">

<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      tags: 'none'
    }
  };
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
