{% if site.google_analytics_id %}

<div id="cookie-consent-banner" class="cookie-consent-content" role="dialog" aria-labelledby="cookie-consent-title" aria-live="assertive">
  <h2 id="cookie-consent-title" class="visually-hidden">
    Cookie Consent
  </h2>
  <p>This website uses cookies to collect anonymous usage data for analytics. You can accept or decline—it's completely up to you.</p>
  <button id="cookie-consent-accept">Accept</button>
  <button id="cookie-consent-decline">Decline</button>
</div>

{% endif %}