<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="{{ '/' | relative_url }}" target="_self">Homepage</a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ link.url | relative_url }}" target="_self">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <button id="dropdown-menu" aria-label="Dropdown menu"><span class="navicon"></span></button>
        <ul class="hidden-links hidden"></ul>
        <button id="theme-toggle" class="button--theme" aria-label="Toggle theme mode">
          <span class="icon-wrapper">
            <svg {% include icon_attr.html name="moon" %}><path d="{{ site.data.icons['moon'].path.d }}"/></svg>
            <svg {% include icon_attr.html name="sun" %}><path d="{{ site.data.icons['sun'].path.d }}"/></svg>
          </span>
        </button>
      </nav>
    </div>
  </div>
</div>