<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="{{ '/' | relative_url }}" target="_self">Homepage</a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ link.url | relative_url }}" target="_self">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <button id="dropdown-menu" aria-label="Dropdown menu"><div class="navicon"></div></button>
        <button id="theme-toggle" class="button--theme" aria-label="Toggle theme mode"><i class="fa-solid fa-fw fa-moon"></i></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>