<div class="paper-box{% if include.is_last %} paper-box--last{% endif %}">
  <div class="paper-box-image">
    <div class="badge-image {% if include.pub.highlight %}badge-image--highlight{% endif %}">
      {{ include.pub.venue_short }}
    </div>
    <img
        src="{{ include.pub.image | relative_url }}"
        alt="{{ include.pub.title_short | default: include.pub.title }} cover"
    >
  </div>

  <div class="paper-box-text">
    {% if include.pub.link %}
      <a href="{{ include.pub.link }}">{{ include.pub.title }}</a>
    {% else %}
      {{ include.pub.title }}
    {% endif %}
    <br>
    {% for author in include.pub.authors -%}
      {% if author.highlight -%}
        <span class="highlight-author">{{ author.name }}</span>
      {%- else -%}
        {{ author.name }}
      {%- endif -%}
      {%- if author.note -%}{{ author.note }}{%- endif -%}
      {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
    <br>
    {{ include.pub.venue_full }}
    {% if include.pub.highlight_text %}
      <span class="highlight-text">{{ include.pub.highlight_text }}</span>
    {% endif %}

    {% if include.pub.note %}
      <br>
      {{ include.pub.note }}
    {% endif %}

    {% if include.pub.links %}
      <br>
      {% for link in include.pub.links -%}
        [<a href="{{ link.url }}">{{ link.name }}</a>]{% unless forloop.last %} {% endunless %}
      {%- endfor %}
    {% endif %}
    <br>
  </div>
</div>