/* ==========================================================================
   Collapse
   ========================================================================== */

/*
   Usage:

   <div class="collapse">
   <div class="header">Title</div>
   <div class="content" markdown="1">

   content

   </div>
   </div>
   ========================================================================== */

.collapse {
  width: 100%;

  div {
    width: 100%;
  }

  .header {
    background-color: var(--link-color);
    border-radius: $border-radius;
    color: #fff;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-left: 1rem;
    cursor: pointer;
    display: inline-block;
    width: auto;
  }

  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
}
