/* ==========================================================================
   Collapse
   ========================================================================== */

/*
   Usage:

   <div class="collapse">
   <div class="header">Title</div>
   <div class="content" markdown="1">

   content

   </div>
   </div>
   ========================================================================== */

.collapse {
  width: 100%;

  div {
    width: 100%;
  }

  .header {
    @include button-base;
    padding: 0 0.4em;
    margin-left: 1rem;
    width: auto;
  }

  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    margin-bottom: $space-var;
    ul {
      margin-bottom: 0;
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}
