/* ==========================================================================
   COOKIE CONSENT BANNER
   ========================================================================== */

.cookie-consent-content {
  position: fixed;
  bottom: 0.3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  max-width: $x-large;
  border-radius: $border-radius;
  box-shadow: var(--box-shadow);
  background: #555960;
  color: #fff;
  padding: .5em;
  text-align: center;
  font-size: $type-size-5;
  z-index: 9500;
  display: none;

  p {
    margin: 0;
  }

  button {
    @include button-base;
    background-color: #daaa00;
    color: #fff;
    padding: .5em .75em;
    margin: .5em 1em 0 1em;

    &:hover {
      background-color: #8e6f3e;
    }
  }
}
