/* ==========================================================================
   COOKIE CONSENT BANNER
   ========================================================================== */

#cookie-consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #555960;
  color: white;
  padding: .5em;
  text-align: center;
  font-size: 1em;
  z-index: 9999;
}

.cookie-consent-content p {
  margin: 0;
}

#cookie-consent-banner button {
  background-color: #daaa00;
  color: white;
  padding: .5em .75em;
  border: none;
  cursor: pointer;
  margin: .5em 1em 0 1em;
  border-radius: $border-radius;
}

#cookie-consent-banner button:hover {
  background-color: #8e6f3e;
}