/* ==========================================================================
   COOKIE CONSENT BANNER
   ========================================================================== */

.cookie-consent-content {
  position: fixed;
  bottom: 0.3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  max-width: $x-large;
  border-radius: $border-radius;
  box-shadow: var(--box-shadow);
  background: #555960;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  font-size: $type-size-5;
  z-index: 9500;
  display: none;

  p {
    margin: 0;
  }

  button {
    @include button-base(#fff, #daaa00, #8e6f3e);
    padding: 0.5em 0.75em;
    margin: 0.5em 1em 0 1em;
  }
}
