/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  text-align: center;
  min-width: $page-min-width;
  padding: 1em 0;
  font-size: $type-size-6;
  color: $primary-color;
  border-top: 1px solid var(--border-color);
  margin-top: 2em;
  animation: $global-animation;
  animation-delay: 0.35s;
}
