/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  text-align: center;
  padding: 1em 0;
  font-size: $type-size-6;
  color: $primary-color;
  border-top: 1px solid $border-color;
  margin-top: 2em;
  a {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }
}