/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  @include divider();
  position: fixed;
  width: 100%;
  top: 0;
  background-image: linear-gradient(
    to bottom,
    var(--background-color) 0%,
    color-mix(in srgb, var(--background-color) var(--color-mix-percentage), transparent) 60%,
    color-mix(in srgb, var(--background-color) var(--color-mix-percentage), transparent)
  );
  backdrop-filter: var(--glass-effect);
  animation: $global-animation;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner {
    @include container;
    @include clearfix;
    padding: 0.5rem 1rem;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }
}
