/* ==========================================================================
   MIXINS
   ========================================================================== */

@mixin tab-focus {
  outline: none; // remove default outline
  box-shadow:
    0 0 0 1px #fff, // inner layer
    0 0 0 3px $warning-color; // outer layer
}

/*
   Bourbon clearfix
   ========================================================================== */

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

/*
   Custom media query mixin
   Usage:
     @include breakpoint($medium) {
       your styles
     }
   ========================================================================== */
@mixin breakpoint($query) {
  @media (min-width: $query) {
    @content;
  }
}

@mixin container {
  width: 100%;
  max-width: $large;
  margin-left: auto;
  margin-right: auto;
}