/* ==========================================================================
   MIXINS
   ========================================================================== */

@mixin tab-focus {
  outline: none; // remove default outline
  box-shadow:
    0 0 0 1px #fff, // inner layer
    0 0 0 3px $warning-color; // outer layer
}

/*
   Bourbon clearfix
   ========================================================================== */

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

/*
   Custom media query mixin
   Usage:
     @include breakpoint($medium) {
       your styles
     }
   ========================================================================== */
@mixin breakpoint($query) {
  @media (min-width: $query) {
    @content;
  }
}

@mixin container {
  width: 100%;
  max-width: $large;
  margin-left: auto;
  margin-right: auto;
}

@mixin notice($notice-color) {
  margin: .2em 0;
  padding: .4em 1em;
  text-indent: initial;
  background-color: mix(#fff, $notice-color, 90%);
  border-radius: $border-radius;
  box-shadow: var(--box-shadow);
  display: none;

  > h4 {
    margin-top: 0;
    margin-bottom: $space-var;
    color: $dark-gray;
  }

  > p {
    &:last-child {
      margin-bottom: 0;
    }
    color: $dark-gray;
  }

  > h4 + p {
    margin-top: 0;
    padding-top: 0;
  }

  > a {
    color: $notice-color;

    &:hover {
      color: mix(#000, $notice-color, 40%);
    }
  }

  > code {
    background-color: mix(#fff, $notice-color, 95%);
  }

  > ul {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // @at-root .page__content #{&} h4 {
  //   /* using at-root to override .page-content h4 font size*/
  //   margin-bottom: 0;
  //   font-size: 1em;
  // }
}

@mixin divider($color: var(--border-color)) {
  border-bottom: 1px solid $color;
}
