/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  @include container;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  animation: intro 0.3s both;
  animation-delay: 0.35s;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  @include breakpoint($large) {
    display: grid;
    gap: $grid-gap;
    grid-template-columns: repeat($number-of-columns, 1fr);
    grid-template-rows: min-content auto;
    overflow: visible;
  }
}

.page {
  @include breakpoint($large) {
    grid-column: #{ $number-of-columns - $number-of-columns-page + 1 } / #{ $number-of-columns + 1 };
    grid-row: 1 / span 2;
  }

  .page__inner-wrap {
    width: 100%;

    .page__content {
      width: 100%;
    }
  }
}

.page__content {
  #about-me{
      &:before {
        content: "";
        display: block;
        visibility: hidden;
        position: relative;
        height: 31em;
        margin-top: -31em;
        @include breakpoint($large) {
          height: 4em;
          margin-top: -4em;
        }
    }
  }
  
  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--border-color);
  }

  p, li, dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $space-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($space-var);
      }
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        box-shadow: var(--box-shadow);
      }
    }
  }

  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

.paper-box {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-color);
  padding: 0 0 0 0;
  margin-left: 2rem;

  .paper-box-image{
    justify-content: left;
    display: flex;
    width: 100%;
    order: 1;
    p {
      margin: $space-var 0;
    }
    img {
      width: 100%;
      max-width: 400px;
      box-shadow: var(--box-shadow);
      object-fit: cover;
      border-radius: $border-radius;
      background-color: #fff;
    }
  }
  
  .paper-box-text{
    max-width: 100%;
    order: 2;
  }
  
  @include breakpoint($medium) {
    .paper-box-image{
      justify-content: left;
      min-width: 200px;
      max-width: 35%;
      order: 1;
    }
      
    .paper-box-text{
      justify-content: left;
      padding-left: 2em;
      max-width: 65%;
      order: 2;
      p {
        margin: $space-var 0;
      }
    }
  }
}

h2:before, .anchor:before {
  content: "";
  display: block; 
  position: relative; 
  width: 0; 
  height: $scroll_offset; 
  margin-top: -$scroll_offset;
}

.badge-image {
  padding-left: 1.1em;
  padding-right: 1.1em;
  position: absolute;
  margin-top: $space-var * 2;
  margin-left: -.8em;
  color: #fff;
  background-color: var(--link-color);
  border-radius: $border-radius;
  font-size: $type-size-6;
}

.badge-text {
  padding-left: .4em;
  padding-right: .4em;
  color: #fff;
  background-color: var(--link-color);
  font-size: $type-size-6;
  border-radius: $border-radius;
  display: inline-block;
}

.custom-divider {
  @include divider();
}

.univertisy_logo_motto {
  align-items: center;
  justify-content: center;
  gap: .5em 1em;
  flex-wrap: wrap;
  min-width: 50%;
  width: fit-content;
  display: none;

  p {
    margin: 0;
  }

  img {
    max-width: 6em;
    max-height: 100%;
    object-fit: contain;
    display: inline-block;
    width: auto;
    height: 1.5em;
  }
}
