/* ==========================================================================
   SIDEBAR
   ========================================================================== */

.sidebar {
  margin-bottom: 1em;

  @include breakpoint($large) {
    margin-top: 1em;
    grid-column: 1 / span #{ $number-of-columns-sidebar };
    grid-row: 1;
  }

  h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $global-font-family;
  }

  p, li {
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

.profile_box{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  @include breakpoint($large) {
    align-items: flex-start;
    display: block;
    padding-top: 0;
  }
}

.author__avatar {
  display: block;
  width: 105px;
  // set width only, for non-square avatars
  // height: 36px;

  @include breakpoint($large) {
    margin-top: 0;
    width: auto;
    height: auto;
  }

  img {
    max-width: 175px;
    min-width: 105px;
    border-radius: $border-radius;
    box-shadow: var(--box-shadow);
  }
}

.author__content {
  display: block;
  line-height: 1;
  text-align: center;
  @include breakpoint($large) {
    text-align: left;
  }
}

.author__name {
  margin-top: 1rem;
  font-size: $type-size-3;
  @include breakpoint($medium) {
    font-size: $type-size-2;
  }
}

.author__bio {
  margin: 0;
  @include breakpoint($large) {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
  }
}

.author__urls-wrapper {
  display: block;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.author__urls {
  display: none;
  right: 0;
  list-style-type: none;
  z-index: -1;
  cursor: default;

  @include breakpoint($large) {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  }

  li {
    white-space: nowrap;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}

.author__urls_sm{
  padding: 0.25em;
  font-size: 1.6em;
  display: block;
  margin: 0 0 0.2em 0;
  text-align: center;
  li {
    display: inline-flex;
    margin: 0;
    a {
      color: inherit;
    }
  }
  @include breakpoint($large) {
    display: none;
  }
}
