/* ==========================================================================
   SIDEBAR
   ========================================================================== */

.sidebar {
  margin-bottom: 1em;

  @include breakpoint($large) {
    margin-top: 1em;
    grid-column: 1 / span #{ $number-of-columns-sidebar };
    grid-row: 1;
  }

  h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $global-font-family;
  }

  p, li {
    line-height: 1.5;
  }
}

.profile_box{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  @include breakpoint($large) {
    align-items: flex-start;
    display: block;
    padding-top: 0;
  }
}

.author__avatar {
  display: block;
  width: 105px;

  @include breakpoint($large) {
    width: auto;
  }

  img {
    width: 100%;
    max-width: 175px;
    min-width: 105px;
    border-radius: $border-radius;
    box-shadow: var(--box-shadow);
  }
}

.author__content {
  display: block;
  line-height: 1;
  text-align: center;
  @include breakpoint($large) {
    text-align: left;
  }
}

.author__name {
  margin-top: 1rem;
  font-size: $type-size-3;
  @include breakpoint($medium) {
    font-size: $type-size-2;
  }
}

.author__bio {
  margin: 0;
  @include breakpoint($large) {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
  }
}

.author__urls-wrapper {
  display: block;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.author__urls{
  display: block;
  padding: 0.25em;
  margin: 0 0 0.2em 0;
  font-size: 1.6em;
  text-align: center;
  #author-location,
  #author-employer {
    display: none;
  }
  li {
    display: inline-flex;
    margin: 0;
    a {
      color: inherit;
      span {
        display: none;
      }
    }
  }
  @include breakpoint($large) {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: $type-size-5;
    text-align: left;
    #author-location,
    #author-employer {
      display: unset;
    }
    li {
      display: list-item;
      margin-bottom: .5em;
      white-space: nowrap;
      a {
        text-decoration: none;
        span {
          display: unset;
        }
        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
