/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin: 0 auto 1em;
  min-width: 60%;
  font-size: $type-size-6;
  border-collapse: collapse;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: var(--background-color-emph);
}

th {
  padding: 0.5em;
  font-weight: bold;
}
tr {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
td {
  padding: 0.5em;
  border-bottom: 1px solid var(--border-color);
}

tr, td, th {
  vertical-align: middle;
}
