/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.hidden {
  display: none;
  visibility: hidden;
}

/* for preloading images */

.load {
  display: none;
}

.transparent {
  opacity: 0;
}

.visually-hidden,
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
}

body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
  display: none !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  padding: 15px 23px 14px;
  margin: 0;
  overflow: visible;
  clip-path: none !important;
  white-space: normal;
  display: block;
  font-size: 1em;
  font-weight: bold;
  background: var(--background-color);
  z-index: 10000;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}


/*
   Skip links
   ========================================================================== */

.skip-link {
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8000;

  display: flex;
  gap: 1rem;
  padding: .5rem;
  background: $lighter-gray;
  border-radius: $border-radius;
  box-shadow: var(--box-shadow);
  opacity: 0;
  pointer-events: none;
  transition: $global-transition;

  &:has(a:focus) {
    opacity: 1;
    pointer-events: auto;
  }

  a {
    color: #fff;
    padding: .5rem;
    background: $primary-color;
    font-family: $sans-serif;
    font-size: $type-size-5;
    text-decoration: none;
    border-radius: $border-radius;
    transition: $global-transition;

    &:focus {
      background: var(--link-color);
    }
  }
}


/*
   Type
   ========================================================================== */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}


/*
   Images
   ========================================================================== */

/* image align left */

.align-left {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($small) {
    float: left;
    margin-right: 1em;
  }
}

/* image align right */

.align-right {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($small) {
    float: right;
    margin-left: 1em;
  }
}

/* image align center */

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* file page content container */

.full {
  @include breakpoint($large){
    margin-right: -20% !important;
  }
}

/*
   Navicons
   ========================================================================== */

.navicon {
  display: block;
  position: relative;
  width: $navicon-width;
  height: $navicon-height;
  background: var(--background-color);
  margin: auto;
  transition: 0.3s;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: $navicon-width;
    height: $navicon-height;
    background: var(--background-color);
    transition: 0.3s;
  }

  &:before {
    top: (-2 * $navicon-height);
  }

  &:after {
    bottom: (-2 * $navicon-height);
  }
}

.close .navicon {
  /* hide the middle line*/
  background: transparent;

  /* overlay the lines by setting both their top values to 0*/
  &:before, &:after{
    transform-origin: 50% 50%;
    top: 0;
    width: $navicon-width;
  }

  /* rotate the lines to form the x shape*/
  &:before{
    transform: rotate3d(0,0,1,45deg);
  }
  &:after{
    transform: rotate3d(0,0,1,-45deg);
  }
}


/*
   Sticky, fixed to top content
   ========================================================================== */

.sticky {
  @include breakpoint($large) {
    position: sticky;
    top: 6em;

    > * {
      display: block;
    }
  }
}


/*
   Wells

   Usage:
   <div class="well">
     <h4>Important</h4>
     <p>This is a "well" section.</p>
   </div>
   ========================================================================== */

.well {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--background-color-emph);
  border: 1px solid var(--text-color);
  border-radius: $border-radius;
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


/*
   Modals

   Usage:
   <button data-modal-open="modal1" class="btn">Open Modal 1</button>
   <button data-modal-open="modal2" class="btn">Open Modal 2</button>

   <div id="overlay"></div>

   <div id="modal1" class="modal">
     <h2 class="modal__title">Modal 1</h2>
     <div class="modal__supporting-text">Content for modal 1</div>
     <div class="modal__actions">
       <button data-modal-close class="btn">Close</button>
     </div>
   </div>

   <div id="modal2" class="modal">
     <h2 class="modal__title">Modal 2</h2>
     <div class="modal__supporting-text">Content for modal 2</div>
     <div class="modal__actions">
       <button data-modal-close class="btn">Close</button>
     </div>
   </div>
   ========================================================================== */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  opacity: 0.85;
  z-index: 8500;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 0;
  z-index: 9000;
  background: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &__title {
    margin: 0;
    padding: 0.5em 1em;
  }

  &__supporting-text {
    padding: 0 1em 0.5em 1em;
  }

  &__actions {
    padding: 0.5em 1em;
    border-top: 1px solid var(--text-color);
  }

  &.active {
    display: block;
  }
}

.show-modal {
  #overlay {
    display: block;
  }
}


/*
   Footnotes
   ========================================================================== */

.footnote {
  color: var(--text-color);
  text-decoration: none;
}

.footnotes {
  color: var(--text-color);

  ol, li, p {
    margin-bottom: 0;
    font-size: $type-size-6;
  }
}

a.reversefootnote {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


/*
   Required
   ========================================================================== */

.required {
  color: $danger-color;
  font-weight: bold;
}
