/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 15px;
$type-scale-ratio           : 1.125;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : .5em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : Helvetica, Arial, sans-serif;

$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale */
@use 'functions' as *;
$type-size-1                : modular-scale(4, $type-scale-ratio);
$type-size-2                : modular-scale(3, $type-scale-ratio);
$type-size-3                : modular-scale(2, $type-scale-ratio);
$type-size-4                : modular-scale(1, $type-scale-ratio);
$type-size-5                : modular-scale(0, $type-scale-ratio);
$type-size-6                : modular-scale(-1, $type-scale-ratio);
$type-size-7                : modular-scale(-2, $type-scale-ratio);
$type-size-8                : modular-scale(-3, $type-scale-ratio);

/*
   Colors
   ========================================================================== */

$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

$body-color                 : #fff;
$background-color           : #fff;
$code-background-color      : #fafafa;
$code-background-color-dark : $light-gray;
$text-color                 : $dark-gray;
$border-color               : $lighter-gray;
$shadow-color               : #888;

$primary-color              : $gray;
$success-color              : #62c462;
$warning-color              : #f89406;
$danger-color               : #ee5f5b;
$info-color                 : #3f6188;

/* brands */
$dribbble-color             : #ea4c89;
$facebook-color             : #0866ff;
$flickr-color               : #ff0084;
$foursquare-color           : #3333ff;
$github-color               : #1f2328;
$instagram-color            : #ff0069;
$lastfm-color               : #d92323;
$linkedin-color             : #0a66c2;
$pinterest-color            : #e60023;
$soundcloud-color           : #ff5500;
$tumblr-color               : #00b7ff;
$youtube-color              : #ff0000;
$xing-color                 : #C6F16D;
$googlescholar-color        : #4d90fe;
$envelope-color             : #cfb991;

/* links */
$link-color                 : $info-color;
$link-color-hover           : mix(#000, $link-color, 25%);
$link-color-visited         : mix(#fff, $link-color, 25%);
$masthead-link-color        : $primary-color;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%);

/*
   Breakpoints
   ========================================================================== */

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$number-of-columns          : 48;
$number-of-columns-page     : 37;
$number-of-columns-sidebar  : 9;
$grid-gap                   : 1rem;

/*
   Other
   ========================================================================== */

$scroll_offset              : 2em;
$border-radius              : .25rem;
$box-shadow                 : 3px 3px 6px $shadow-color;;
$navicon-width              : 1.25em;
$navicon-height             : .2em;
$global-transition          : all .2s ease-in-out;

:root {
  --text-color: #{$text-color};
}