/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 15px;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : .5em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : Helvetica, Arial, sans-serif;

$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale, scale ratio : 1.125 */
$type-size-1                : 1.602em; // 24.027px
$type-size-2                : 1.424em; // 21.357px
$type-size-3                : 1.266em; // 18.984px
$type-size-4                : 1.125em; // 16.875px
$type-size-5                : 1em; // 15px
$type-size-6                : .889em; // 13.333px
$type-size-7                : .79em; // 11.852px
$type-size-8                : .702em; // 10.535px

/*
   Colors
   ========================================================================== */

$gray                       : #888;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 70%);
$light-gray                 : mix(#fff, $gray, 40%);
$lighter-gray               : mix(#fff, $gray, 70%);

$primary-color              : $gray;
$success-color              : #62c462;
$warning-color              : #f89406;
$danger-color               : #ee5f5b;
$info-color                 : #3f6188;

:root {
  --text-color                : #{$dark-gray};
  --background-color          : #fff;
  --border-color              : #{$lighter-gray};
  --code-background-color     : #fafafa;
  --masthead-link-color       : #{$gray};
  --masthead-link-color-hover : #{$dark-gray};
  --background-color-emph     : #{$lighter-gray};
  --link-color                : #{$info-color};
  --link-color-hover          : #{darken($info-color, 15%)};
  --box-shadow                : 3px 3px 6px #{$gray};
  --github-logo-color         : #24292f;
}

[data-theme="dark"] {
  --text-color                : #{$light-gray};
  --background-color          : #000;
  --border-color              : #{$darker-gray};
  --code-background-color     : #050505;
  --masthead-link-color-hover : #{$light-gray};
  --background-color-emph     : #{$darker-gray};
  --link-color                : #{lighten($info-color, 22%)};
  --link-color-hover          : #{lighten($info-color, 37%)};
  --github-logo-color         : #f0f6fc;
}

/*
   Breakpoints
   ========================================================================== */

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$number-of-columns          : 48;
$number-of-columns-page     : 37;
$number-of-columns-sidebar  : 9;
$grid-gap                   : 1rem;

/*
   Other
   ========================================================================== */

$scroll_offset              : 2em;
$border-radius              : .25rem;
$navicon-width              : 1.25em;
$navicon-height             : .2em;
$global-transition          : all .2s ease-in-out;
$icon-fixed-width-multiplier: 1.25;