name: Regenerate Gemfile.lock

on:
  workflow_dispatch:

jobs:
  regenerate-lockfile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3' # Ruby version with GitHub Pages
          bundler-cache: false
      
      - name: Clear Bundler cache
        run: rm -rf ~/.bundle

      - name: Install dependencies & generate lockfile
        run: |
          rm -f Gemfile.lock
          bundle lock --add-platform x86_64-linux
          bundle update github-pages
          bundle install
          bundle exec github-pages versions || { echo "Error: github-pages gem not fully installed yet"; exit 1; }
          bundle exec github-pages doctor || { echo "Warning: Issues detected with GitHub Pages": exit 1; }
          cat Gemfile.lock

      - name: Commit and push Gemfile.lock if changed
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add Gemfile.lock
          if git diff --cached --quiet; then
            echo "Gemfile.lock has not changed. Skipping commit and push."
          else
            git commit -m "Regenerate Gemfile.lock [skip ci]"
            git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
            git push
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}